[Unit]
Description=Coop Server

[Container]
ContainerName=coop-server
Image=docker.io/library/akmalm007/l4d2-container:latest
PublishPort=27015:27015/udp
Volume=$HOME/server/l4d2:/home/steam/l4d2
Environment=L4D2_MAP=c2m1_highway
Environment=L4D2_MODE=coop
Environment=L4D2_PORT=27015

[Service]
Restart=always
TimeoutStartSec=1200

[Install]
WantedBy=default.target


