[Unit]
Description=Coop Server

[Container]
ContainerName=coop-server
Image=localhost/l4d2-survival:1.1
PublishPort=27016:27016/udp
Volume=/home/vera/game:/home/steam/l4d2
Environment=L4D2_MAP=c2m1_highway
Environment=L4D2_MODE=coop
Environment=L4D2_PORT=27016
UserNS=keep-id


[Service]
Restart=always
TimeoutStartSec=1200

[Install]
WantedBy=default.target


